.navbar-lewagon {
  justify-content: space-between;
  background: rgb(56, 56, 56);
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
}

.navbar-lewagon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  transition: ease 0.6s all;
}

.navbar-brand h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin: 0;
}

.nav-link:hover {
  color: red;
  span {
    color: #FACF39;
  }
}

.start {
  justify-content: start;
}
